
.ingredient-content {
  box-shadow: 3px 3px 5px 6px #ccc;
  // background-color: #f2f2f2;
 }

.cocktail-image {
  justify-content: center;
}

.cocktail-container {
  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 5px;
  // background-color: #f2f2f2;
}
