.ingredient-card {
  display: flex;
  border: 1px solid gray;
  justify-content: center;
}

.ingredient-content {
  display: flex;
  justify-content: center;
 }

.ingredient-title {
  display: flex;
  justify-content: center;
}
